{% extends 'base.html.twig' %}

{% block title %}Hello PersonaController!{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-fluid">
    {{ parent() }}
    <table class="table table-borderless">
        <thead>
          <tr style="color:#0F9FA8; background-color: #EDEDED;">
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Modificar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
                <tr>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td><a href="{{path('modificarPersona', {'id': persona.id})}}">Modificar</a></td>
                    <td><a href="{{path('eliminarPersona', {'id': persona.id})}}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>
{% endblock %}

